{% extends 'home.html' %}

{% block content %}
  <h2>Review {{ hotel.name }}</h2>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Submit Review</button>
  </form>

<style>
  .btn {
    padding: 10px 15px; /* Adjust padding as needed */
    background-color: #007bff; 
    color: #fff;
    border: none;
    border-radius: 3px;
    text-decoration: none; 
    cursor: pointer;
  }

  .btn-primary {
    background-color: #007bff; 
  }
</style>

{% endblock %}