{% extends 'home.html' %}

{% block title %}Book Room{% endblock %}

{% block content %}
  <h1>Book {{ room.room_type }} at {{ hotel.name }}</h1>
  {% if success_message %}
    <p class="success-message">{{ success_message }}</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Book Now</button>
  </form>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

  <script>
    $(function() {
      $("#id_check_in_date").datepicker();
      $("#id_check_out_date").datepicker();
    });
  </script>
{% endblock %}