{% extends 'home.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
  <h1>Contact Us</h1>
  <p>If you have any questions, comments, or concerns, we’d love to hear from you. Reach out to us through any of the following methods:</p>

  <h2>Email</h2>
  <p>You can email us at: <a href="mailto:support@hostify.com">support@hostify.com</a></p>

  <h2>Phone</h2>
  <p>Give us a call at: +1 (555) 123-4567</p>

  <h2>Social Media</h2>
  <p>Follow us on social media:</p>
  <ul>
    <li><a href="https://facebook.com/hostify">Facebook</a></li>
    <li><a href="https://twitter.com/hostify">Twitter</a></li>
    <li><a href="https://instagram.com/hostify">Instagram</a></li>
  </ul>

  <h2>Mailing Address</h2>
  <p>Hostify Inc., 1234 Main Street, Suite 100, Cityville, ST, 12345</p>

  <p>For urgent inquiries, please contact us directly via one of the methods listed above. We aim to respond within 24-48 hours.</p>
{% endblock %}
