{% extends 'home.html' %}

{% block title %}Edit {{ hotel.name }}{% endblock %}

{% block content %}
  <h1>Edit Hotel - {{ hotel.name }}</h1>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Save</button>
  </form>

<style>
  .btn {
    padding: 10px 15px; /* Adjust padding as needed */
    background-color: #007bff; 
    color: #fff;
    border: none;
    border-radius: 3px;
    text-decoration: none; 
    cursor: pointer;
  }

  .btn-primary {
    background-color: #007bff; 
  }
</style>

{% endblock %}